// $base-color: #C4504C;
body{
    margin: 0;
    padding: 0;
}

.header{
 background-image: url("../img/fontHeadre.png");
 background-size: 100% 100%;
 background-repeat: no-repeat;
 width: 1920px;
 height: 1080px;
}
